* {
    color: #052C65;
}

body {
    display: flex;
    flex-direction: row;
}

.logo {
    border-bottom: 1px solid #D9D9D9;
    padding: 40px 70px 20px 50px;
}

.sidebar {
    border-right: 1px solid #D9D9D9;
    height: 100%;
    padding: 0  !important;
}

.main-menu  {
    padding: 60px 20px 60px 20px;
    margin-left: 20px;
}

.account {
    border-top: 1px solid #D9D9D9;
    padding: 20px 20px 20px 20px;
    position: fixed;
    bottom: 0px;
    display: flex;
    flex-direction: row;
}

.account button {
    margin-left: 10px;
    max-width: 150px;
}

.balance {
    padding: 20px 20px 20px 20px;
    margin-top: 300px;
    position: fixed;
    bottom: 80px;
}

.btn {
    text-align: left;
    width: 230px;
    padding: 5px;
    display: flex;
    align-items: center;
}

.sidebar-img {
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    margin-right: 3px;
    text-align: center;
}

.home {
    position: relative;
    bottom: 6px;
}

.money {
    position: relative;
    bottom: 3px;
}

.btn-toggle {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding-left: 5px;
    padding-bottom: 10px;
}

.btn:hover {
    background-color: #0D6EFD;
    color: white;
}

.btn:hover svg path {
    fill: white;
}

.btn-toggle:hover::before {
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
}

.btn-toggle[aria-expanded="true"]::before {
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
}

.btn-toggle:focus::before {
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
}

.btn-toggle[aria-expanded="true"] {
    background-color: #0D6EFD;
    color: white;
}

.btn-toggle:focus {
    background-color: #0D6EFD;
}

.collapse {
    margin-top: -5px;
}

.collapsing {
    margin-top: -5px;
}


.btn-toggle-nav li {
    border: 1px solid #0D6EFD;
    padding: 3px 0;
    width: 230px;
    background-color: #0D6EFD;
    font-size: 14px;
}

.btn-toggle-nav li a {
    text-decoration: none;
    color: white !important;
}

.btn-toggle-nav li a:hover {
   color: #052C65 !important;
    background-color: white;
}

.btn-toggle-nav li:hover {
    background-color: white;
}

.btn-toggle-nav li:hover a {
    color: #052C65 !important;
}

.btn-toggle-nav li:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.main {
    padding: 100px 60px 100px 60px;
    display: flex;
    flex-direction: column;
    width: 80%;
}

.main-title {
    margin-bottom: 60px;
}

.filter {
    margin-bottom: 60px;
}

.filter ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.filter-item {
    cursor: pointer;
    border: 1px solid #6C757D;
    font-size: 16px;
    border-radius: 5px;
    max-width: 110px;
    padding: 3px 20px;
    margin-right: 20px;
}

.filter ul li input{
    max-width: 45px;
    margin: 0px 8px;
    border: none;
    outline: none;

}

.interval {
    margin-left: -15px ;
    display: flex;
    flex-direction: row;
    border: none !important;
}

.active {
    background: #6C757D;
    color: white;
}

.money-stats {
    display: flex;
    flex-direction: row;
}

.money-type {
    margin: 20px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.money-type-title {
    margin-bottom: 20px;
    color: #290661;
}

.money-chart {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.money-chart-sources {
    margin-bottom: 40px;
}




